-r requirements-dev.txt

# Libraries
scikit-learn
scipy
scikit-image
numpy==1.26.4
matplotlib
pandas
opencv-python
pyqt6
xlrd
openpyxl
packaging

tensorflow==2.14.*
tensorflow-macos==2.14.*
keras==2.14.*
tensorflow-datasets>=4.9.*
tensorflow-addons>=0.22.*
tensorcross>=1.0.*
